/* Flex */
.flex-row {
  display: flex;
  flex-direction: row;
}


ul {
    list-style-type: none;
}

#whiteboard {
    height: 300px;
    width: 300px;
    border: solid 1px red;
    position: relative;
  }

/* Primitives */
.space-s {
  margin-left: 2px;
}

/* Element specific */
#whiteboard {
  height: 300px;
  width: 100vw;
  border: solid 1px red;
  position: relative;
}
ul {
  list-style-type: none;
}
button {
  width: 4rem;
  height: 4rem;
}
button:hover {
  background-color: blue;
}
.emoji {
  font-size: 2rem;
}

#circle-overlay {
  border: 1px solid black;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
